@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  
  background: #EFF0F4; 
  font-family: 'Roboto';
}



#fondo{
  width: 100%;
  height: 100%;

}

#top{
  padding-right: 10px;
  padding-top: 5px;
  margin-left: 0;
  padding-left: 0;



}

#buscar{
  background-color:  transparent;
  color: #264E86 ;
  border-bottom-color: #264E86
  padding-bottom:2px;
}

#buscar i{
  font-size: 15pts

}
.menu_redes li{
  padding-left: 10px;
  float: right;
}

.busqueda{
  margin-left:0;
  padding-left: 0; 
  float: left;
}
 
  
footer {
  background-color:#264E86;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  
}


.icono{
  font-size: 20pt;
}
.home{
    margin-left: 15px;
}

.navbar-nav{
  padding-bottom: 0px;
  padding-top: 0px;

}
nav{
  background-color: #264E86;
  text-align: right;
}

.navbar-nav li{
display: inline;
text-align: center;
margin: 0 0 0 0;
padding: 0;
}
